/*main-parte1*/
.main-parte1{
    display: flex;
    justify-self: center;
    margin: 50px;
}
.main-parte1__article1{
    display: flex;
    flex-direction: column;
    margin: 90px;
}
.main-parte1__article1-text1{
    display: block;
    width: 498px;
    height: 120px;
    justify-content:center;
    align-items:center;
    left: 215px;
    top: 222px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #18216D;
}
.main-parte1__article1-text2{
    display: block;
    width: 484px;
    height: 56px;
    justify-content:center;
    align-items:center;
    left: 215px;
    top: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #18216D;
}
.main-parte1__article1-button{
    width: 180px;
    height: 66px;
    align-items: flex-start;
    left: 215px;
    top: 448px;
    background: #00ECD0;
    border-radius: 6px;
    border-color:#00ECD0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #18216D;
}
.main-parte1__article2{
    justify-self: start;
    width: 786px;
    height: 518.35px;
    left: 617px;
    top: 126.76px;
}
/*main-parte2*/
.main-parte2{
    display: flex;
    justify-content: space-around;  
}
.main-parte2__text{
    display: block;
    width: 494px;
    height: 150px;
    left: 215px;
    top: 767px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #18216D;
}
.main-parte2__downloads{
    width: 137px;
    height: 134px;
    left: 985px;
    top: 767px;
}
.main-parte2__rating{
    width: 107.28px;
    height: 134px;
    left: 1215px;
    top: 767px;
}
.main-parte2__collaboration-companies{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.logo1{
    width: 112.12px;
    height: 34.88px;
    left: 245px;
    top: 966px;
}
.logo2{
    width: 104.65px;
    height: 29.9px;
    left: 436.85px;
    top: 968.49px;
}
.logo3{
    width: 104.65px;
    height: 34.88px;
    left: 621.23px;
    top: 966px;
}
.logo4{
    width: 151.99px;
    height: 32.39px;
    left: 805.61px;
    top: 967.25px;
}
.logo5{
    width: 138.28px;
    height: 32.39px;
    left: 1037.32px;
    top: 967.25px;
}
.logo6{
    width: 99.66px;
    height: 29.9px;
    left: 1255.34px;
    top: 968.49px;
}
/*main-parte5*/
.main-parte5{
    display: flex;
    padding: 60px;
    
}
.main-parte5__article{
    display: flex;
    margin: 80px;
    margin-right: 200px;
    
}
.main-parte5__article1-foto{
    width: 400px;
    height: 450px;
    left: 219px;
    top: 2443px;
    background: url(attractive-mixed-race-male-with-positive-smile-shows-white-teeth-keeps-hands-stomach-being-high-spirit-wears-white-shirt-rejoices-positive-moments-life-people-emotions-concept.jpg);
    border-radius: 20px;
}
.main-parte5__article2-metting{
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 184px;
    height: 150px;
    left: 470px;
    top:1530px;
    background: #FFFFFF;
    box-shadow: -4px 8px 20px rgba(24, 33, 109, 0.05);
    border-radius: 6px;
}
.main-parte5__button{
    margin: 20px;
    width: 100px;
    height: 30px;
    left: 578px;
    top: 2905px;
    background: #DAE9FF;
    border-radius: 4px;
    border-color: #DAE9FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #005FEC;
}
.main-parte5__content{
    margin: 50px;
}
.main-parte5__text1{
    display: block;
    width: 496px;
    height: 96px;
    left: 815px;
    top: 2443px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #18216D;
}
.main-parte5__text2{
    display: block;
    width: 446px;
    height: 90px;
    left: 815px;
    top: 2555px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #18216D;
}
.paragraph{
    width: 19.97px;
    height: 19.97px;
    left: 815.02px;
    top: 2675px;
}
.roll{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #18216D;
}
.roll__paragraph1, .roll__paragraph2, .roll__paragraph3{
    margin-top: 20px;
}
.main-parte5__content-button{
    width: 164px;
    height: 54px;
    left: 815px;
    top: 2833px;
    margin-top: 25px;
    background: #005FEC;
    border-radius: 6px;
    border-color: #005FEC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
